streamlit
pandas
altair
plotly[express]
matplotlib
networkx
numpy
scikit-learn
nltk
textblob
spacy
gensim>=4.3.3
seaborn
openpyxl
wordcloud
scipy

# Run this command to install the spaCy model
# python -m spacy download en_core_web_sm

